<div class="container">
  <div class="row">
    <div class="col-md-4 col-sm-6">
      <div class="product-grid2">
        <div class="product-image2"> <a href="#"> <img class="pic-1" src="https://i.pcmag.com/imagery/reviews/05CbcW9cP4o0rqbCnVB2OFZ-1.jpg"> <img class="pic-2" src="https://i.pcmag.com/imagery/reviews/05CbcW9cP4o0rqbCnVB2OFZ-1.jpg"> </a>
        </div>
        <div class="product-content">
          <h3 class="title"><a href="#">Mac pro</a></h3> <span class="price">4000DT</span>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="product-grid2">
        <div class="product-image2"> <a href="#"> <img class="pic-1" src="https://dyw7ncnq1en5l.cloudfront.net/optim/produits/23/50267/hp-omen-15-2019-rtx-2060_4e99d3d23ed657de__450_400.jpg"> <img class="pic-2" src="https://dyw7ncnq1en5l.cloudfront.net/optim/produits/23/50267/hp-omen-15-2019-rtx-2060_4e99d3d23ed657de__450_400.jpg"> </a>

        </div>
        <div class="product-content">
          <h3 class="title"><a href="#">HP omen</a></h3> <span class="price">3000DT</span>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="product-grid2">
        <div class="product-image2"> <a href="#"> <img class="pic-1" src="https://static.fnac-static.com/multimedia/Images/FR/MDM/8e/2b/9e/10365838/1540-1/tsp20200424152734/PC-Portable-Gaming-Asus-Zephyrus-S-GX535GX-ES034R-15-6-Intel-Core-i7-16-Go-RAM-512-Go-D-Noir.jpg"> <img class="pic-2" src="https://static.fnac-static.com/multimedia/Images/FR/MDM/8e/2b/9e/10365838/1540-1/tsp20200424152734/PC-Portable-Gaming-Asus-Zephyrus-S-GX535GX-ES034R-15-6-Intel-Core-i7-16-Go-RAM-512-Go-D-Noir.jpg"> </a>

        </div>
        <div class="product-content">
          <h3 class="title"><a href="#">ASUS </a></h3> <span class="price"> 3500</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-md-4 col-sm-6">
  <div class="product-grid2">
    <div class="product-image2"> <a href="#"> <img class="pic-1" src="https://i.pcmag.com/imagery/reviews/006hWXl1y9elaWTzhyuVeik-1..v_1574299221.jpg"> <img class="pic-2" src="https://i.pcmag.com/imagery/reviews/006hWXl1y9elaWTzhyuVeik-1..v_1574299221.jpg"> </a>

    </div>
    <div class="product-content">
      <h3 class="title"><a href="#">DELL</a></h3> <span class="price"> 3500</span>
    </div>
  </div>
</div>



<br>
<div style="text-align: center;"><a href="#">Pour consulter d'autres produit veuillez consulter notre page d'accueil</a></div>





<hr>
